<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Connect 4Quarts</name>
    <description>Sample Apache Cordova App</description>
    <author>
        4Quarts Team
    </author>
    <icon src="www/img/4quarts_icon.jpg" platform="android" width="57" height="57" density="mdpi" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Scheme" value="http" />
    <platform name="android">
        <splash src="res/screen/android/splash-port.png" density="port-hdpi" />
        <splash src="res/screen/android/splash-port.png" density="port-ldpi" />
        <splash src="res/screen/android/splash-port.png" density="port-mdpi" />
        <splash src="res/screen/android/splash-port.png" density="port-xhdpi" />
        <splash src="res/screen/android/splash-port.png" density="port-xxhdpi" />
        <splash src="res/screen/android/splash-port.png" density="port-xxxhdpi" />

        <splash src="res/screen/android/splash-port.png" density="land-hdpi" />
        <splash src="res/screen/android/splash-port.png" density="land-ldpi" />
        <splash src="res/screen/android/splash-port.png" density="land-mdpi" />
        <splash src="res/screen/android/splash-port.png" density="land-xhdpi" />
        <splash src="res/screen/android/splash-port.png" density="land-xxhdpi" />
        <splash src="res/screen/android/splash-port.png" density="land-xxxhdpi" />




        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <preference name="SplashScreenDelay" value="2000" />
</widget>
