html, body { height: 80%; width: 100%; margin: 0; }
.title {
    text-align: center;
    font-size: 400%;
}
h1 {
    text-align: center ;
    font-size: 100px;
    font-family: HUN;

}
body{
    background-color: #f6ffd2;
    zoom: 0.5;
    overflow: hidden;
}