@media only screen and (max-width:600px) {
    #surrenderGameMessage {
        position: absolute;
        background-color: #ff0000;
        opacity: 0.8;
        margin: auto;
        text-align: center;
        border: thin black;
        font-size: 4.5em;
        left: 35%;
        top: 40%;
        padding: 30px 60px;
    }

    #chat-container-bis {
        position: absolute;
        bottom: 7vh;
        /* left: 10%; */
        background-color: #7dbfd2db;
        border-radius: 15px 0 0 0;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 35%;
        width: 100%;
    }

    #chat-messages-bis {
        overflow-y: scroll;
        flex-grow: 1;
        padding: 10px;
        font-size: 3vh;
    }

    #chat-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        bottom: 0%;
    }


    #timer {
        font-size: 40px;
        font-weight: bold;
    }

    #chat-buttons {
        display: flex;
        flex-direction: row;
        bottom: 0%;
    }

    #home {
        display: none;
    }

    #opponentElo {
        font-size: 5vh;
        font-weight: bold;
        order: 6;
    }

    #noSurrenderKeepPlaying, #SurrenderBackToHome {
        display: inline-block;
        padding: 20px 40px;
        font-size: 24px;
        font-weight: bold;
        border-radius: 30px;
        margin: 20px;
        cursor: pointer;
    }

    #noSurrenderKeepPlaying {
        background-color: green;
        color: white;
    }

    #SurrenderBackToHome {
        background-color: red;
        color: white;
    }

    .buttons-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #playerElo {
        font-size: 5vh;
        font-weight: bold;
        order: 6;
    }

    #chat-buttons button {
        font-weight: bold;
        bottom: 0%;
        background-color: #50b88b;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
    }


    #mute-button-container {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    #mute-button {
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
    }

    #chat-messages-bis::-webkit-scrollbar {
        display: none;
    }
}




@media only screen and (min-width: 600px) and (min-height: 600px) {
    #surrenderGameMessage {
        position: absolute;
        background-color: #ff0000;
        opacity: 0.8;
        margin: auto;
        text-align: center;
        border: thin black;
        font-size: 4.5em;
        left: 35%;
        top: 40%;
        padding: 30px 60px;
    }

    #chat-container-bis {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #99a37f36;
        border-radius: 15px 0 0 0;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80.5%;
        width: 20%;
    }

    #chat-messages-bis {
        overflow-y: scroll;
        flex-grow: 1;
        padding: 10px;
        font-size: 30px;
    }

    #chat-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        bottom: 0%;
    }


    #timer {
        position: absolute;
        top: 40%;
        left: 65%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: bold;
    }

    #chat-buttons {
        display: flex;
        flex-direction: row;
        bottom: 0%;
    }

    #home {
        display: none;
    }

    #opponentElo {
        position: absolute;
        top: 70%;
        left: 70%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: bold;
    }

    #noSurrenderKeepPlaying, #SurrenderBackToHome {
        display: inline-block;
        padding: 20px 40px;
        font-size: 24px;
        font-weight: bold;
        border-radius: 30px;
        margin: 20px;
        cursor: pointer;
    }

    #noSurrenderKeepPlaying {
        background-color: green;
        color: white;
    }

    #SurrenderBackToHome {
        background-color: red;
        color: white;
    }

    .buttons-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #gameChatDisplay{
        display: none;
    }

    #playerElo {
        position: absolute;
        top: 80%;
        left: 70%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: bold;
    }

    #chat-buttons button {
        font-weight: bold;
        bottom: 0%;
        background-color: #99a37f36;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .message {
        position: relative;
        margin: 10px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border-radius: 20px;
        max-width: 80%;
    }

    .message.outgoing {
        align-self: flex-end;
        background-color: #008CBA;
    }

    .message:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #4CAF50 transparent transparent;
        transform: translateY(-50%);
    }

    .message.outgoing:after {
        content: "";
        position: absolute;
        top: 50%;
    }

    #mute-button-container {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    #mute-button {
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
    }

    #chat-messages-bis::-webkit-scrollbar {
        display: none;
    }
}






@media only screen and (max-height: 600px) and (min-width:500px) {
    #surrenderGameMessage {
        position: absolute;
        background-color: #ff0000;
        opacity: 0.8;
        margin: auto;
        text-align: center;
        border: thin black;
        font-size: 4.5em;
        left: 35%;
        top: 40%;
        padding: 30px 60px;
    }

    #chat-container-bis {
        position: absolute;
        bottom: 10vh;
        background-color: #7dbfd2db;
        border-radius: 15px 0 0 0;
        box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        width: 50%;
        display: none;
    }

    #chat-messages-bis {
        overflow-y: scroll;
        flex-grow: 1;
        padding: 10px;
        font-size: 3vw;
        height: 75%;
    }

    #chat-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    #timer {
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
    }

    #chat-buttons {
        display: flex;
        flex-direction: row;
        bottom: 0%;
    }

    #home {
        display: none;
    }

    #opponentElo {
        font-size: 7vh;
        font-weight: bold;
        position: absolute;
        top: 55%;
    }

    #noSurrenderKeepPlaying, #SurrenderBackToHome {
        display: inline-block;
        padding: 20px 40px;
        font-size: 24px;
        font-weight: bold;
        border-radius: 30px;
        margin: 20px;
        cursor: pointer;
    }

    #noSurrenderKeepPlaying {
        background-color: green;
        color: white;
    }

    #SurrenderBackToHome {
        background-color: red;
        color: white;
    }

    .buttons-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #playerElo {
        font-size: 7vh;
        font-weight: bold;
        position: absolute;
        bottom: 50%;
    }

    #chat-buttons button {
        font-weight: bold;
        bottom: 0%;
        background-color: #50b88b;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)
    }


    #mute-button-container {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    #mute-button {
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
    }

    #chat-messages-bis::-webkit-scrollbar {
        display: none;
    }
}
