@font-face {
    font-family: retro;
    src: url(../../font/retro.ttf);
}
@media only screen and (max-width: 821px) {
html, body {
    font-family: retro;
    background-color: #f6ffd2;
}

    OnComputer{
        display: none;
    }
    html{
        width: 100%;
        height: 100%;
    }
    body{
        margin:0;
        display: flex;
        flex-direction: column;
        height: 95%;
        width: 99%;
    }
    .menu {
        width: 100%;
        margin: auto;
        height: 70%;
        display: flex;
        flex-direction: column;
    }
  .iconHomePage{
      cursor: pointer;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      width: 8vw;
      height: 8vw;
      padding: 2% 2%;
      display: flex;
      color: white;
      background-color: rgb(76 168 184);
      font-size: 6vw;
  }


.gameLaunch {
    border-top: 3px solid #99a37f36;
    border-right: 3px solid #99a37f36;
    border-bottom: 3px solid #99a37f36;
    display: flex;
    justify-content: flex-start;
    transition: width 0.3s;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 30%;
    font-size: 15vw;
    margin: auto;
}

.ic{
    margin:auto;
    color: white;
}

.localLaunch{
    background-color: rgb(82 197 217 / 90%);
}
.onlineLaunch{
    background-color: #dc3fca96;
}
.botLaunch{
    background-color: #f0981994;
}

.fa-solid{
    color: white;
}

.buttonLaunch, .onlineButton, .botButton {
    margin: auto;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    cursor: pointer;
    width: 30%;
}



.difficulties {
    margin-top: auto;
    margin-bottom: auto;
}

.easy {
    display: flex;
    margin-right: 20%;
}

.medium{
    margin-right: 0;
}

.easy, .medium {
    display: inline-block;
    align-items: center;
}


.button {
    background-color: rgba(206, 232, 107, 0.8);
    border: none;
    color: black;
    padding: 40px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: retro;
}
.homepage{
    background-color: #fffbe3d1;
    border: 3px solid #99a37f36;
    height: fit-content;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.homepage:hover{
    cursor: pointer;
}
.button:hover {
    background-color: rgba(206, 232, 107, 0.8);
}}

@media only screen and (min-width: 821px) {
    html, body {
        font-family: retro;
        background-color: #f6ffd2;
        height: 100%;
    }
    html{
        width: 95%;
    }
    body{
        margin-left: 0;
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .gameLaunch {
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        display: flex;
        margin-bottom: 3%;
        justify-content: space-evenly;
        transition: width 0.3s;
        width: 110%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-size: 10vw;
    }
    .gameLaunch:hover{
        width: 120%;
    }

    .buttonLaunch, .onlineButton, .botButton {
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 5vw;
        cursor: pointer;
        margin: auto;
        width: 40%;
    }


    .difficulties {
        margin-top: auto;
        margin-bottom: auto;
    }

    .easy {
        display: flex;
        margin-right: 20%;
    }

    .medium{
        margin-right: 0;
    }

    .easy, .medium {
        display: inline-block;
        align-items: center;
    }

    .menu {
        width: 75%;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
    }
    .menu:hover{
        cursor: pointer;
    }
    .ic{
        margin:auto;
    }


    .button {
        background-color: rgba(206, 232, 107, 0.8);
        border: none;
        color: black;
        padding: 40px 150px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: retro;
    }
    .homepage{
        background-color: #fffbe3d1;
        border: 3px solid #99a37f36;
        height: fit-content;
        border-radius: 10px;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
    }
    .homepage:hover{
        cursor: pointer;
    }
    .button:hover {
        background-color: rgba(206, 232, 107, 0.8);
    }

    .iconHomePage{background-color: #fffbe3d1;
        display: flex;
        border: 3px solid #99a37f36;
        padding: 5px 5px;
        font-size: 4.5vw;
        width: fit-content;
}

}
