@font-face {
    font-family: retro;
    src: url(../../font/retro.ttf);
}
html, body {
    font-family: retro;
    background-color: #f6ffd2;
}


.difficulties {
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.easy {
    display: flex;
    margin-right: 20%;
}

.medium{
    margin-right: 0;
}

.easy, .medium {
    display: inline-block;
    align-items: center;
}


.button {
    background-color: rgba(206, 232, 107, 0.8);
    border: none;
    color: black;
    padding: 40px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: retro;
}
.homepage{
    background-color: #fffbe3d1;
    border: 3px solid #99a37f36;
    height: fit-content;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.homepage:hover{
    cursor: pointer;
}
.button:hover {
    background-color: rgba(206, 232, 107, 0.8);
}
