@font-face {
    font-family: retro;
    src: url(../font/retro.ttf);
}

body {
    margin: 0;
    font-family: retro;
}

.nav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #333;
}

.nav a {
    float: left;
    background-color: grey;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: maroon;
    color: black;
    cursor: pointer;
}

.nav a.active {
    background-color: #04AA6D;
    color: white;
}
