.title {
    text-align: center;
}
.home{
    display: flex;
}
.menu {
    margin-left:5%;
    align-content: center;
    width: 60%;
    height: 400px;
    border: 5px solid #333;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.gameSaved{
    border: 5px solid #333;
    height: 10%;
    text-align: center;
    font-size: 33px;
}
.gameSaved:hover .dropdown{
    display: block;
}
h4{
    font-size: 20px;
}
.item{
    display: flex;
}
.littleMenu{
    margin-left: 5%;
    width: 20%;
    height: 400px;
}

fa-solid fa-user-group {
    height: 100px;
    width: 100px;
}

.gameLaunch {
    display: flex;
    margin: 20px;
    justify-content: flex-start;
}

.buttonLaunch {
    margin: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 40px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

div i {
    margin: auto;
}

fa-solid fa-robot {
    height: 100px;
    width: 100px;
}

.botButton {
    margin: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 40px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.resumeButton{
    margin: auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}
