@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.container {
    position: absolute;
    background-color: #ffffff;
    margin: auto;
    border: 3px solid #99a37f36;
    left: 35%;
    top: 30%;
    width: 30%;
    height: 50%;
    padding: 30px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
}

.loading {
    text-align: center;
    position: relative;
    margin-top: 5%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-image: url('https://previews.123rf.com/images/redlinevector/redlinevector1608/redlinevector160802093/61198068-bataille-ic%C3%B4ne-simple-illustration-vectorielle-de-deux-%C3%A9p%C3%A9es-crois%C3%A9es.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.loader:not(.loading-text) {
    animation: spin 1s linear infinite;
}



.loading-text {
    font-family: 'Baloo 2', cursive;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-top: 250px;
    display: inline-block;
}

.loading-text:after {
    content: "";
    animation: dots 1s infinite;
}

@keyframes dots {
    0% {
        content: "";
    }
    33% {
        content: ".";
    }
    66% {
        content: "..";
    }
    100% {
        content: "...";
    }
}
