html, body { background-color: #f6ffd2;}

.difficulties {
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.easy {
    display: flex;
    margin-right: 20%;
}

.medium{
    margin-right: 0;
}

.easy, .medium {
    display: inline-block;
    align-items: center;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 40px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3e8e41;
}
