
@font-face {
    font-family: retro;
    src: url(../font/retro.ttf);
}
@media only screen and (max-width: 821px) {
/* Set default font and background color */
body {
    font-family: retro;
    background-color: #f6ffd2;
}
    .wrapperMiniFriend{
    }



.buttonFriends, .buttonAcceptChallenge {
    padding: 1%;
    border-radius: 1%;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 30%;
    text-align: center;
    border: 2px solid #0000003d;
    margin-left: auto;
}
#decline{
    background-color: red;
}
.friendDisplay{
    display: flex;
    flex-direction: column;
    background-color: rgba(231, 225, 195, 0.36);
    padding:3%;
}

/* Style the user not found message */
.userNotFoundMessage {
    display: none;
    margin-top: 10px;
}
#accept{
    position: absolute;
    top: 0;
    right: 0;
}
.buttonWrapper{
    display: flex;
}
#fMenu{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #fffbe3d1;
    border-top: 3px solid #99a37f36;
    border-right: 3px solid #99a37f36;
    border-left: 3px solid #99a37f36;
    border-bottom: 3px solid #99a37f36;
    display: flex;
    bottom: 0;
    padding: 1%;
}
#decline{
    position: absolute;
    bottom: 0;
    right: 0;
}
.friend,.friendIsChallenging,.friendReq{
    position: relative;
    background-color: rgba(231, 225, 195, 0.36);
    display: flex;
    margin-bottom: 4%;
    margin-top: 3%;
    justify-content: center;
}
.friendReq{
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
    margin-top: 0%;
}


.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



.notification-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    height: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ok-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    margin-top: auto;
}
#notificationTextMessage{
    margin:auto;
    font-size: 40px;
}

#user-message{
    font-size: 12px;
}


.backgroundLittleMenu .shapeLittleMenu{
    height: 20vh;
    width: 20vh;
    position: absolute;
    border-radius: 50%;
}


.shapeLittleMenu:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: 10%;
    bottom: 10%;
}
.shapeLittleMenu:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: 30%;
    bottom: 15%;
}


}

@media only screen and (min-width: 820px) and (min-height: 600px) {
    .friendDisplay{
        display: flex;
        flex-direction: column;
        background-color: rgba(231, 225, 195, 0.36);
        padding:3%;
    }
    /* Set default font and background color */
    .backgroundLittleMenu .shapeLittleMenu{
        display: none;
    }
    body {
        font-family: retro;
        background-color: #f6ffd2;
    }



    .buttonFriends, .buttonAcceptChallenge {
        padding: 1%;
        border-radius: 1%;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        width: 30%;
        text-align: center;
        border: 2px solid #0000003d;
        margin-left: auto;
    }
    #decline{
        background-color: red;
    }

    /* Style the user not found message */
    .userNotFoundMessage {
        display: none;
        margin-top: 10px;
    }
    #accept{
        position: absolute;
        top: 0;
        right: 0;
    }
    #fMenu{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-left: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        display: flex;
        bottom: 0;
        width: 99%;
    }
    #decline{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .friend,.friendIsChallenging,.friendReq{
        position: relative;
        background-color: rgba(231, 225, 195, 0.36);
        display: flex;
        margin-bottom: 4%;
        margin-top: 3%;
        justify-content: center;
    }
    .friendReq{
        font-size: 4vh;
        margin-bottom: 0%;
        margin-top: 0%;
    }


    .notification {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }



    .notification-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        width: 40%;
        height: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .ok-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 30px;
        cursor: pointer;
        margin-top: auto;
    }
    #notificationTextMessage{
        margin:auto;
        font-size: 40px;
    }

    .ok-btn:hover {
        background-color: #0069d9;
    }
    #user-message{
        font-size: 12px;
    }
    .buttonWrapper{
        display: flex;
    }
}





@media only screen and (max-height: 600px) {
    body {
        font-family: retro;
        background-color: #f6ffd2;
    }
    .wrapperMiniFriend{
    }



    .buttonFriends, .buttonAcceptChallenge {
        padding: 1%;
        border-radius: 1%;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        width: 30%;
        text-align: center;
        border: 2px solid #0000003d;
        margin-left: auto;
    }
    #decline{
        background-color: red;
    }
    .friendDisplay{
        display: flex;
        flex-direction: column;
        background-color: rgba(231, 225, 195, 0.36);
        padding:3%;
    }

    /* Style the user not found message */
    .userNotFoundMessage {
        display: none;
        margin-top: 10px;
    }
    #accept{
        position: absolute;
        top: 0;
        right: 0;
    }
    .buttonWrapper{
        display: flex;
    }
    #fMenu{
        margin-top: 5vh;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-left: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        display: flex;
        bottom: 0;
        padding: 1%;
    }
    #decline{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .friend,.friendIsChallenging,.friendReq{
        position: relative;
        background-color: rgba(231, 225, 195, 0.36);
        display: flex;
        margin-bottom: 4%;
        margin-top: 3%;
        justify-content: center;
    }
    .friendReq{
        display: flex;
        flex-direction: column;
        margin-bottom: 0%;
        margin-top: 0%;
    }


    .notification {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }



    .notification-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        width: 40%;
        height: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .ok-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 30px;
        cursor: pointer;
        margin-top: auto;
    }
    #notificationTextMessage{
        margin:auto;
        font-size: 40px;
    }

    #user-message{
        font-size: 12px;
    }


    .backgroundLittleMenu .shapeLittleMenu{
        height: 20vh;
        width: 20vh;
        position: absolute;
        border-radius: 50%;
    }


    .shapeLittleMenu:first-child{
        background: linear-gradient(
                #1845ad,
                #23a2f6
        );
        left: 10%;
        bottom: 10%;
    }
    .shapeLittleMenu:last-child{
        background: linear-gradient(
                to right,
                #ff512f,
                #f09819
        );
        right: 30%;
        bottom: 15%;
    }


}
