@font-face {
    font-family: retro;
    src: url(../../../font/retro.ttf);
}

html, body {
    height: 80%;
    width: 100%;
    margin: 0;
    font-family: retro;
}

body {
    margin: 0;
    zoom: 0.7;
    overflow: hidden;
}


table,
td {
    border: 5px solid #333;
    background: blue;
    margin:auto;
}


.player {
    margin: 2% 12%;
    width: 50%;
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 20px;
    background-color: rgb(0 0 0 / 33%);
    border-radius: 10px;
}
#gameDisplay{
    display: flex;
}
#board{
    margin-left: 20%;
}
.menu {
    width: 20%;
    height: 400px;
    float: right;
    margin-left: auto;
    order: 2;
    margin-right: 3%;
    direction: rtl;
}
.menu:hover{
    cursor: pointer;
}
.gameLaunch {
    background-color: #ffffff8a;
    border-top: 3px solid #99a37f36;
    border-right: 3px solid #99a37f36;
    border-bottom: 3px solid #99a37f36;
    border-left: 3px solid #99a37f36;
    display: flex;
    margin-bottom: 3%;
    justify-content: flex-start;
    transition: width 0.3s;
    width: 110%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.buttonLaunch, .onlineButton, .botButton {
    margin: auto;
    border: none;
    padding: 40px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    cursor: pointer;
}
.gameLaunch:hover{
    width: 130%;
}
#f1 {
    background-color: red;
}

#f3 {
    background-color: yellow;
}

td {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

thead,
tfoot {
    display: flex;
    background-color: #333;
    color: #fff;
}


#message {
    font-size: 2em;
    color: white;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#reset-button {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    position: absolute;
    left: 85%;
    transform: translate(-50%, -50%);
    right: 15px; /* move the button 20px from the right side of the page */
    top: 80%; /* move the button 20px from the top of the page */
}

#reset-button {
    background-color: #3e8e41; /* Green */
    cursor: pointer;
}

#savedGameMessage {
    position: absolute;
    background-color: #77ff68;
    opacity: 0.8;
    margin: auto;
    text-align: center;
    border: thin black;
    font-size: 4.5em;
    left: 35%;
    top: 40%;
    padding: 30px 60px;
}
