html, body { height: 80%; width: 100%; margin: 0; }

/* Set default font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f6ffd2;
}


.buttonFriends, .buttonAcceptChallenge {
    padding: 1%;
    border-radius: 1%;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 30%;
    text-align: center;
    border: 2px solid #0000003d;
    margin-left: auto;
}
#decline{
    background-color: red;
}

.message.outgoing:after {
    content: "";
    position: absolute;
    top: 50%;
}
/* Style the user not found message */
.userNotFoundMessage {
    display: none;
    margin-top: 10px;
}
#accept{
    position: absolute;
    top: 0;
    right: 0;
}
#fMenu{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #fffbe3d1;
    border-top: 3px solid #99a37f36;
    border-right: 3px solid #99a37f36;
    border-left: 3px solid #99a37f36;
    border-bottom: 3px solid #99a37f36;
    margin-top: 2%;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 99%;
}
#decline{
    position: absolute;
    bottom: 0;
    right: 0;
}
.friend,.friendIsChallenging,.friendReq{
    position: relative;
    background-color: rgba(231, 225, 195, 0.36);
    display: flex;
    margin-bottom: 4%;
    margin-top: 3%;
    justify-content: center;
}
.friendReq{
    margin-bottom: 0%;
    margin-top: 0%;
}
/* Style the friend list and friend request list */
.friendMenu, .challengeMessageMenu, .friendRequestMenu {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #fffbe3d1;
    border-top: 3px solid #99a37f36;
    border-right: 3px solid #99a37f36;
    border-left: 3px solid #99a37f36;
    border-bottom: 3px solid #99a37f36;
    margin:auto;
    width: 20%;
    padding: .5%;
    height: 100%;
}

.friendList, .challengeMessage, .friendRequest {
    font-weight: bold;
}

.dropdown, .dropdownChallengeRequest, .dropdownFriendRequest {
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dropdown a, .dropdownChallengeRequest a, .dropdownFriendRequest a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
}

.dropdown a:hover, .dropdownChallengeRequest a:hover .dropdownFriendRequest a:hover {
    background-color: #f5f5f5;
}
