@font-face {
    font-family: retro;
    src: url(../font/retro.ttf);
}
html{
    height: 100%;
}


@media only screen and (max-width: 600px) {

    .title {
        margin: auto;
        text-align: center;
        font-size: 12vw;
    }
    .header-top{
        height: 20%;
        display: flex;
    }

    body{
        font-family: retro;
        background-color: #f6ffd2;
        zoom: 0.5;
        overflow: hidden;
        height: 100%;
    }
    .ic{
        margin:auto;
        color: white;
    }
    .home{
        display: flex;
        height: 70%;
    }

    .menu {
        align-content: center;
        width: 100%;
    }

    #notVibrating{
        display: none;
    }
    .littleIconMenu{
        display: flex;
    }

    .headerGameSaved{
        display: flex;
    }

    .dropdown{
        position: absolute;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 60%;
    }
    .gameSaved{
        font-weight: bold;
        height: 10%;
        text-align: left;
        font-size: 7vw;
    }
    .trash{
        margin-left: auto;
    }
    h4{
        font-size: 5vh;
    }
    .textForTrash{
        margin:auto;
    }
    .littleMenu{
        background-color: #fffbe3;
        padding: .5%;
        height: 150vh;
        display: none;
        width: 200vw;
    }
    .item{
        background-color: rgba(231, 225, 195, 0.36);
        display: flex;
        margin-top: 3%;
        justify-content: center;
    }

    fa-solid fa-user-group, fa-solid fa-earth-europe, fa-solid fa-robot{
        height: 100px;
        width: 100px;
    }

    .profil{
        background-color: rgb(76 168 184);
    }
    .iconHeader{
    }

    .iconHomePage{
        cursor: pointer;
        font-size: 14vw;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 20vw;
        padding: 2% 2%;
        display: flex;
        color: white;
    }
    .saveIcon{
        margin: auto;
        background-color: rgb(84 184 76);
    }
    .trashIcon{
        background-color: #ffa7a7;
        margin-left: auto;
    }
    .crossIcon{
        background-color: rgb(219 38 38);
        margin-left: auto;
        border-radius: 20%;
        width: 8vw;
        height: 8vw;
    }

    .logout{
        background-color: #f09819;
    }
    .gameLaunch {
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        display: flex;
        margin-bottom: 3%;
        justify-content: flex-start;
        transition: width 0.3s;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        height: 20%;
        font-size: 24vw;
    }
    .localLaunch{
        background-color: rgb(82 197 217 / 90%);
    }
    .onlineLaunch{
        background-color: #dc3fca96;
    }
    .botLaunch{
        background-color: #f0981994;
    }

    .buttonLaunch, .onlineButton, .botButton {
        margin: auto;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8vw;
        cursor: pointer;
        width: 30%;
    }

    div i, icon {
        margin: auto;
    }

    .shape{
        z-index: -2;
    }

    .background .shape{
        height: 20vh;
        width: 20vh;
        position: absolute;
        border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
                #1845ad,
                #23a2f6
        );
        left: 10%;
        bottom: 10%;
    }
    .shape:last-child{
        background: linear-gradient(
                to right,
                #ff512f,
                #f09819
        );
        right: 30%;
        bottom: 15%;
    }
    .iconInMenu{
        margin: auto;
    }
}

/* Styles for computers */
@media only screen and (min-width: 600px) and (min-height: 600px) {
    .crossIcon{
        display: none;
    }
    .saveIcon{
        display: none;
    }
    .headerGameSaved{
        display: flex;
    }

    .title {
        text-align: center;
        font-size: 6vw;
    }
    .header-top{
        height: 15%;
        margin-bottom: 5%;
    }

    body{
        font-family: retro;
        background-color: #f6ffd2;
        zoom: 0.5;
        overflow: hidden;
        height: 100%;
    }
    .ic{
        margin:auto;
    }
    .home{
        display: flex;
        height: 80%;
    }
    .menu {
        align-content: center;
        width: 60%;
    }

    .dropdown{
        position: absolute;
        width: 20%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 60%;
    }
    .gameSaved{
        font-weight: bold;
        text-align: left;
        font-size: 200%;
    }
    #trash{
        float: right;
    }
    .gameSaved:hover{
        cursor: pointer;
    }
    h4{
        font-size: 4vh;
    }
    .item{
        background-color: rgba(231, 225, 195, 0.36);
        display: flex;
        margin-bottom: 4%;
        margin-top: 3%;
        justify-content: center;
    }
    .item:hover{
        background-color: rgba(124, 121, 108, 0.34);
    }
    .littleMenu{
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-left: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        margin-left: 15%;
        width: 20%;
        padding: .5%;
        height: 80%;
    }


    fa-solid fa-user-group, fa-solid fa-earth-europe, fa-solid fa-robot{
        height: 100px;
        width: 100px;
    }

    .profil{
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        font-size: 500%;
        border-radius: 4px;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
    }
    .logout{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fffbe3d1;
        font-size: 550%;
        cursor: pointer;

    }
    .gameLaunch {
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        display: flex;
        margin-bottom: 3%;
        justify-content: flex-start;
        transition: width 0.3s;
        width: 90%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-size: 10vw;
        padding: 5vh;
    }
    .gameLaunch:hover{
        width: 100%;
        cursor: pointer;
    }
    .littleIconMenu{
        display: none;
    }

    .buttonLaunch, .onlineButton, .botButton {
        margin: auto;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 4vw;
        cursor: pointer;
        width: 60%;
    }

    div i, icon {
        margin: auto;
    }

    .shape{
        z-index: -2;
    }

    .background .shape{
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
                #1845ad,
                #23a2f6
        );
        left: 30%;
        top: 20%;
    }
    .shape:last-child{
        background: linear-gradient(
                to right,
                #ff512f,
                #f09819
        );
        right: 30%;
        bottom: 15%;
    }

    .miniHomeBack{
        display: none;
    }

}








@media only screen and (max-height: 600px) and (min-width:500px) {

    .title {
        margin: auto;
        text-align: center;
        font-size: 12vh;
    }
    .header-top{
        height: 20%;
        display: flex;
    }
    .mini-Friend-name{
        font-size: 7vw;
    }

    body{
        font-family: retro;
        background-color: #f6ffd2;
        zoom: 0.5;
        overflow: hidden;
        height: 100%;
    }
    .ic{
        margin:auto;
        color: white;
    }
    .home{
        display: flex;
        height: 70%;
    }

    .menu {
        align-content: center;
        width: 100%;
    }

    #notVibrating{
        display: none;
    }
    .littleIconMenu{
        display: flex;
    }

    .headerGameSaved{
        display: flex;
    }

    .dropdown{
        position: absolute;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 60%;
    }
    .gameSaved{
        font-weight: bold;
        height: 10%;
        text-align: left;
        font-size: 7vh;
    }
    .trash{
        margin-left: auto;
    }
    h4{
        font-size: 5vh;
    }
    .textForTrash{
        margin:auto;
    }
    .littleMenu{
        background-color: #fffbe3;
        padding: .5%;
        height: 150vh;
        display: none;
        width: 100%;
    }
    .item{
        background-color: rgba(231, 225, 195, 0.36);
        display: flex;
        margin-top: 1%;
        justify-content: center;
    }

    fa-solid fa-user-group, fa-solid fa-earth-europe, fa-solid fa-robot{
        height: 100px;
        width: 100px;
    }

    .profil{
        background-color: rgb(76 168 184);
    }
    .iconHeader{
    }

    .iconHomePage{
        cursor: pointer;
        font-size: 14vh;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 15vh;
        height: 15vh;
        padding: 2% 2%;
        display: flex;
        color: white;
    }
    .saveIcon{
        margin: auto;
        background-color: rgb(84 184 76);
    }
    .trashIcon{
        background-color: #ffa7a7;
        margin-left: auto;
    }
    .crossIcon{
        background-color: rgb(219 38 38);
        margin-left: auto;
        border-radius: 20%;
        width: 8vh;
        height: 8vh;
    }

    .logout{
        background-color: #f09819;
    }
    .gameLaunch {
        background-color: #fffbe3d1;
        border-top: 3px solid #99a37f36;
        border-right: 3px solid #99a37f36;
        border-bottom: 3px solid #99a37f36;
        display: flex;
        margin-bottom: 5vh;
        justify-content: flex-start;
        transition: width 0.3s;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        height: 20%;
        font-size: 24vh;
    }
    .localLaunch{
        background-color: rgb(82 197 217 / 90%);
    }
    .onlineLaunch{
        background-color: #dc3fca96;
    }
    .botLaunch{
        background-color: #f0981994;
    }

    .buttonLaunch, .onlineButton, .botButton {
        margin: auto;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8vh;
        cursor: pointer;
        width: 30%;
    }

    div i, icon {
        margin: auto;
    }

    .shape{
        z-index: -2;
    }

    .background .shape{
        height: 20vh;
        width: 20vh;
        position: absolute;
        border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
                #1845ad,
                #23a2f6
        );
        left: 10%;
        bottom: 10%;
    }
    .shape:last-child{
        background: linear-gradient(
                to right,
                #ff512f,
                #f09819
        );
        right: 30%;
        bottom: 15%;
    }
    .iconInMenu{
        margin: auto;
    }
}
